snippet de "debugger with line" b
debugger; // eslint-disable-line
endsnippet

snippet cons "console with eslint escape" b
console.log('$0'); // eslint-disable-line
endsnippet

snippet test "create a js unit test" b


endsnippet
